---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Cards.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Tags from '../components/Tags.astro';
---

<Layout title="Inicio">
  <!-- Presentación -->
  <section>
    <div class="bg-custom w-full max-w-4xl mt-32 p-8 md:p-16 mb-32 rounded-xl mx-auto text-center border-solid border-[3px] border-[#1f2d40]">
      <img src="cosito.webp" loading="lazy" alt="Gonzalo Demian Cubilla" class="rounded-full w-24 h-[84px] md:w-60 md:h-60 mx-auto">
      <h1 class="text-custom mb-2 text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold">Gonzalo D<span class="text-white">.</span> Cubilla</h1>
      <p class="text-long-custom pt-5 font-bold text-lg md:text-xl p-4 md:p-10">Desktop Developer y estoy estudiando la carrera de Tecnicatura Universitaria en Programación</p>
      <div class="flex flex-col md:flex-row items-center justify-center pb-10 space-y-4 md:space-y-0 md:space-x-4">
        <a href="https://github.com/Cositoreal" class="px-3 py-2 text-xs font-medium text-center inline-flex items-center text-long-custom bg-custom-1 rounded-lg hover:bg-[#3b567c] focus:ring-4 focus:outline-none focus:ring-sky-300 dark:bg-[#486997] dark:hover:bg-sky-700 dark:focus:ring-sky-800">
          <img src="/logos/github.png" alt="github brand logo" class="w-5 h-5 mr-2">
          GitHub
		</a>
        <a href="https://wa.me/5491137018186" class="px-3 py-2 text-xs font-medium text-center inline-flex items-center text-long-custom bg-custom-1 rounded-lg hover:bg-[#3b567c] focus:ring-4 focus:outline-none focus:ring-sky-300 dark:bg-[#486997] dark:hover:bg-sky-700 dark:focus:ring-sky-800">
          <img src="/logos/whatsapp.png" alt="whatsapp brand logo" class="w-5 h-5 mr-2">
          WhatsApp
		</a>
		<a href="mailto:cubillagonzalo@outlook.com" class="px-3 py-2 text-xs font-medium text-center inline-flex items-center text-long-custom bg-custom-1 rounded-lg hover:bg-[#3b567c] focus:ring-4 focus:outline-none focus:ring-sky-300 dark:bg-[#486997] dark:hover:bg-sky-700 dark:focus:ring-sky-800">
      <img src="logos/mail.svg" class="w-5 h-5 me-2" alt="mail logo">
          cubillagonzalo@outlook.com
        </a>
      </div>
    </div>
  </section>

  <!-- About me -->
  <section id="about" class="container mx-auto mt-20 md:mt-60 my-4 border-solid border-[3px] border-[#1f2d40]">
    <div class="px-6 lg:px-10 py-16 rounded-md bg-custom flex flex-col lg:flex-row">
      <div class="w-full lg:w-1/2 lg:pl-4 lg:pr-12 mb-8 lg:mb-0">
        <h2 class="text-custom font-medium text-2xl">Sobre Mí</h2>
        <div class="mt-8 space-y-6 text-long-custom">
          <p>Soy Gonzalo Demian Cubilla, un estudiante argentino de 18 años. Actualmente, estudio programación en la Universidad Tecnológica Nacional (UTN).</p>
          <p>Manejo HTML, CSS y Tailwind CSS para diseñar interfaces web. También estoy explorando el desarrollo web con Astro.</p>
          <p>Tengo conocimientos básicos en Java y C++. Además, estoy familiarizado con bases de datos LibSQL. Siempre busco oportunidades para crecer y contribuir a proyectos interesantes.</p>
        </div>
      </div>

      <div class="w-full lg:w-1/2 lg:pr-4 lg:pl-12">
        <h3 class="text-custom font-medium text-2xl lg:mt-0">Skills</h3>
        <div class="mt-8 grid grid-cols-2 md:grid-cols-3 sm:grid-cols-4 lg:gap-6">
          <Cards>
            <img slot="svg" src="logos/html.svg" alt="html logo">
            <span slot="no1">HTML</span>

          </Cards>
          <Cards>
            <img slot="svg" src="logos/css.svg" alt="css logo">
    			  <span slot="no1">CSS</span>
          </Cards>
          <Cards>
            <img slot="svg" src="logos/astro.svg" alt="Astro brand logo">
            <span slot="no1">Astro</span>
          </Cards>
          <Cards>
            <img slot="svg" src="logos/tailwindcss.svg" alt="tailwind brand logo">
            <span slot="no1">TailwindCSS</span>
          </Cards>
          <Cards>
            <img slot="svg" src="logos/java.svg" alt="java brand logo">
            <span slot="no1">Java</span>
          </Cards>
          <Cards>
            <span slot="no1">C++</span>
            <img slot="svg" src="logos/cpp.svg" alt="c++ logo">
          </Cards>
        </div>
      </div>
    </div>
  </section>

  <!-- Projects -->
  <section id="project" class="w-full mx-auto mt-20 md:mt-48 mb-20 md:mb-48 px-4">
    <div class="max-w-4xl mx-auto">
      <h1 class="font-bold text-custom pb-10 text-3xl md:text-5xl text-center">Proyectos</h1>
      <ProjectCard>
        <h2 slot="title" class="text-2xl md:text-4xl">Portfolio</h5>
        <img src="mockup.png" alt="Gonzalo Demian Cubilla portfolio" slot="imgDesc" class="w-full md:w-1/2 h-80 object-cover  rounded-md bg-cover mx-auto" />
        <span slot="descr" class="text-long-custom">El portfolio, en vacaciones de verano agrego más cosas xd</span>
        <ul slot="tags" class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-4 gap-2 md:gap-0 sm:gap-0">
          <Tags><span slot="tag">HTML</span></Tags>
          <Tags><span slot="tag">Tailwind CSS</span></Tags>
          <Tags><span slot="tag">Astro 4</span></Tags>
          <Tags><span slot="tag">SQLite</span></Tags>
        </ul>
      </ProjectCard>
    </div>
  </section>

  <!-- Contact -->
  <section id="contact" class="bg-custom border-[3px] border-solid border-custom-1 w-full max-w-4xl pt-10 mt-10 mb-20 rounded-xl mx-auto text-center text-custom px-4">
    <h2 class="text-3xl md:text-4xl font-bold mb-5">Contacto</h2>
    <p class="mb-5 text-long-custom">Si tienes alguna pregunta, proyecto o simplemente quieres saludar, no dudes en ponerte en contacto conmigo. Aquí tienes algunas formas en las que puedes hacerlo:</p>
    <form class="mx-auto w-full max-w-lg" action="https://formsubmit.co/ed2481fdcfd4cffb505ba62f6c67941d " method="POST">
      <input type="hidden" name="_next" value="https://github.com/Keys4Ever">
      <input type="hidden" name="_captcha" value="false">
      <div class="mb-4">
        <label class="block text-left text-custom font-bold mb-2" for="email">Correo electrónico</label>
        <input class="bg-custom appearance-none border-2 border-[#1f2d40] rounded w-full py-2 px-4 text-long-custom leading-tight focus:border-[#f8ee33]" id="email" name="email" type="email" required placeholder="Tu correo electrónico">
      </div>
      <div class="mb-4">
        <label class="block text-left text-custom font-bold mb-2">Asunto</label>
        <input class="bg-custom appearance-none border-2 border-[#1f2d40] rounded w-full py-2 px-4 text-long-custom leading-tight focus:border-[#f8ee33]" id="name" name="name" type="text" required placeholder="Asunto/Subject">
      </div>
      <div class="mb-6">
        <label class="block text-left text-custom font-bold mb-2" for="message">Mensaje</label>
        <textarea class="bg-custom appearance-none border-2 border-[#1f2d40] rounded w-full py-2 px-4 text-long-custom leading-tight focus:border-[#f8ee33]" id="message" name="message" rows="5" required placeholder="Tu mensaje"></textarea>
      </div>
      <div>
        <button class="bg-custom transition-all hover:w-24 hover:bg-[#3b567c] text-white font-bold py-2 px-4 rounded" type="submit">
          Enviar
        </button>
      </div>
    </form>
  </section>
</Layout>

<style>
  .bg-bunker-950\/50 {
    background-color: rgba(14, 16, 21, .5);
  }
  .bg-bunker-800\/10 {
    background-color: rgba(46, 53, 65, .1);
  }
  .text-bunker-200 {
    color: rgb(188, 199, 211);
  }
  .bg-red-300\/10 {
    background-color: hsla(0, 94%, 82%, .1);
  }

</style>
