---
const {src,href,alt,buttonName} = Astro.props;
---

<a href={href} class="px-3 py-2 text-xs font-medium text-center inline-flex items-center text-long-custom bg-custom-1 rounded-lg hover:bg-[#3b567c] focus:ring-4 focus:outline-none focus:ring-sky-300 dark:bg-[#486997] dark:hover:bg-sky-700 dark:focus:ring-sky-800">
    <img src={src} alt={alt} class="w-5 h-5 mr-2">
    {buttonName}
</a>