---
const {src,href,alt,buttonName} = Astro.props;
---

<a href={href} class="px-3 py-2 text-xs font-medium text-center inline-flex items-center transition-all duration-200 hover:scale-110 text-text-secondary bg-button-background rounded-lg hover:bg-button-highlight focus:outline-none">
    <img src={src} alt={alt} class="w-5 h-5 mr-2">
    {buttonName}
</a>