<div id="logo" class="text-red-300/80 p-2 bg-bunker-800/10 rounded-lg flex flex-col items-center justify-center">
    <slot name="svg"></slot>
    <h5 class="text-sm lg:text-md font-medium mt-3"><slot name="no1"></slot></h5>
</div>


<style>
    .bg-bunker-800\/10{
		background-color: rgba(46,53,65,.1);
	}
</style>