---

const {src,alt,tech} = Astro.props;
---
<div id="logo" class="text-text-primary p-2 bg-tech rounded-lg flex flex-col items-center justify-center">
    <img src={src} alt={alt} class="h-16 w-16">
    <h5 class="text-sm lg:text-md font-medium mt-3 text-text-secondary">{tech}</h5>
</div>