---
---
<nav class="bg-[#131213] full-screen flex items-center relative">
  <div class="fixed h-fit inset-0 z-30 px-4 mt-4">
    <div class="container max-w-lg mx-auto">
      <ul class="w-full h-10 ring-1 rounded-full font-medium flex text-sm">
      <li class="grow"><a href="#home" class="pl-2 w-full h-full flex items-center justify-center hover:text-red-300/80 text-bold text-xl border-y-transparent border-l-transparent border-[1px] border-r-red-500">Inicio</a></li>
      <li class="grow"><a href="#about" class="pl-2 w-full h-full flex items-center justify-center hover:text-red-300/80 text-bold text-xl border-y-transparent border-l-transparent border-[1px] border-r-red-500">About Me</a></li>
      <li class="grow"><a href="#project" class="pl-2 w-full h-full flex items-center justify-center hover:text-red-300/80 text-bold text-xl text-bold border-y-transparent border-l-transparent border-[1px] border-r-red-500 ">Projects</a></li>
      <li class="grow"><a href="#contact" class="pl-2 w-full h-full flex items-center justify-center hover:text-red-300/80 text-bold text-xl ">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>