<nav class="full-screen flex items-center relative bg-soy">
  <div class="fixed h-fit inset-0 z-30 px-4 mt-4">
    <div class="container max-w-lg mx-auto">
      <ul class="w-full h-10 ring-1 rounded-full font-medium flex text-sm bg-nav text-long-custom">
        <li class="grow"><a href="#home" class="pl-2 w-full h-full flex items-center justify-center transition-colors duration-200 text-text-secondary hover:text-text-primary  text-xl sm:text-sm sm:text-bold">Inicio</a></li>
        <li class="grow"><a href="#about" class="pl-2 w-full h-full flex items-center justify-center transition-colors duration-200 text-text-secondary hover:text-text-primary  text-xl sm:text-sm sm:text-bold">About me</a></li>
        <li class="grow"><a href="#project" class="pl-2 w-full h-full flex items-center justify-center transition-colors duration-200 text-text-secondary hover:text-text-primary  text-xl sm:text-sm sm:text-bold">Proyectos</a></li>
        <li class="grow"><a href="#contact" class="pl-2 w-full h-full flex items-center justify-center transition-colors duration-200 text-text-secondary hover:text-text-primary  text-xl sm:text-sm sm:text-bold">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<style>
