<nav class="full-screen flex items-center relative bg-soy">
  <div class="fixed h-fit inset-0 z-30 px-4 mt-4">
    <div class="container max-w-lg mx-auto">
      <ul class="w-full h-10 ring-1 rounded-full font-medium flex text-sm bg-custom text-long-custom">
        <li class="grow"><a href="#home" class="pl-2 w-full h-full flex items-center justify-center hover:text-[#f8ee33] text-bold text-xl sm:text-sm md:text-sm sm:font-thin">Inicio</a></li>
        <li class="grow"><a href="#about" class="pl-2 w-full h-full flex items-center justify-center hover:text-[#f8ee33] text-bold text-xl sm:text-sm md:text-sm sm:font-thin">About me</a></li>
        <li class="grow"><a href="#project" class="pl-2 w-full h-full flex items-center justify-center hover:text-[#f8ee33] text-bold text-xl sm:text-sm md:text-sm sm:font-thin">Proyectos</a></li>
        <li class="grow"><a href="#contact" class="pl-2 w-full h-full flex items-center justify-center hover:text-[#f8ee33] text-bold text-xl sm:text-sm md:text-sm sm:font-thin">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<style>
.text-custom {
  color: #f8ee33;
}
.text-long-custom {
  color: rgb(253, 253, 194);
}
</style>